@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: black;
}

.container{
  padding: 50px;
  width: 50%;
  justify-content: center;
  align-items: center;
}