.new-user-form-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight:600;
    color: white;
}

.new-user-form-input-container{
    display:flex;
    justify-content: space-around;
}

.new-user-form-input-name,.new-user-form-input-age{
    padding:10px;
    border:1px solid white;
}

.new-user-form-button{
    margin-top: 50px;
}